.judul-small {
    text-align: center;
    font-size: 0.8rem;
    color: white; /* Warna teks diubah menjadi putih */
    background: #d32f2f; /* Background diubah menjadi sama dengan tombol audio */
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: glowing 2s infinite alternate, floating 4s infinite ease-in-out;
    border: 2px solid #d32f2f; /* Tambahkan border agar lebih konsisten dengan tombol */
}
